#chatroom
form(name='message-form', id='message-form', action='#/chatroom/message', method='post', accept-charset='utf-8')
  p
    input(type='text', name='message', value='', id='message')
  p
    input(type='submit', value=' Send ')
