<p id="chatroom"></p>
<form name="message-form" id="message-form" action="#/chatroom/message" method="get" accept-charset="utf-8">
  <table border="0" cellspacing="5" cellpadding="5">
    <colgroups>
      <col width="25%">
      <col width="75%">
    </colgroups>
    <tr>
      <th>Name</th>
      <th>Message</th>
    </tr>
    <tr>
      <td><input type="text" name="nickname" value="" id="nickname"></td>
      <td><input type="text" name="message" value="" id="message"></td>
    </tr>
  </table>
  <p><input type="submit" value=" Send "></p>
</form>
