<form name="needalift-form" action="#/chatroom" method="get" accept-charset="utf-8">
  <table cellspacing="0" cellpadding="10" id="form">
    <tr>
      <td class="icon">
        <img src="/images/location.png" />
      </td>

      <td>
        Where to?<br />
        <select name="whereto">
          <option value="1">Berkley</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <img src="/images/WhatIHave.png" />
      </td>
      <td>
        What I have?<br />
        <select name="ihave">
          <option value="1">A Huge dresser</option>
        </select>
      </td>
    </tr>
    <tr>
       <td class="icon">
         <img src="/images/offer.png" />
      </td>
      <td>
        What I offer?<br />
        <select name="offer">
          <option value="1">Split Gas</option>
        </select>
      </td>
    </tr>
  </table>
  <p><input type="submit" value=" Send "></p>
</form>