<h1>High and Dry</h1>
<%= render :partial => "shared/facebook" %>

<p></p>
<script type="text/javascript" charset="utf-8">
  var jug = new Juggernaut;
  jug.subscribe("channel1", function(data){
    console.log("Got data: " + data.message);
  });
</script>
