<h1>High and Dry</h1>
<%= render :partial => "shared/facebook" %>
<div id="main">
  <p id="chatroom"></p>
  <form name="message-form" id="message-form" action="" method="get" accept-charset="utf-8">
    <p><input type="text" name="message" value="" id="message" size="44"> <input type="submit" value="Send"></p>
  </form>

  <form name="nickname-form" id="nickname-form" action="" method="get" accept-charset="utf-8">
    <p>Your Name: <input type="text" name="nickname" value="" id="nickname" size="10"> <input type="submit" value="Set"></p>
  </form>
</div>
