$red:#c00;
$grey:#666;

header {
  padding:10px 0;
  background-color:$red;
  color:white;
  text-align:center;  
  font: {
     size:22px;
     weight:bold;
  }
}                 
#chooser {    
  width:100%;
  text-align:center;
  h1 {
    color:$red;
    font: {
      size:15px;
    }
  }
  .selector {
    padding:10px 0;
  }
}
#form {
  font: {
    weight:bold;
  }
  width:100%;
  .icon {
    width:50px;
  }            
  select {
    width:100%;
  }
}