<div id="chooser">    
  <!--location -->
  <h1>Target San Francisco</h1>
  <div class="selector">
    <a href="#">
      <%= image_tag "INeedALift.png" %>
    </a>
  </div>
  <div class="selector">      
    <a href="#">
      <%= image_tag "ICanTakeYou.png" %>
    </a>
  </div>
</div>