<table cellspacing="0" cellpadding="10" id="form">
  <tr>
    <td class="icon">
      <%= image_tag "location.png" %>
    </td> 

    <td>
      Where to?<br />
      <select name="whereto">
        <option value="1">Berkley</option>
      </select>
    </td>         
  </tr> 
  <tr>     
    <td class="icon">
      <%= image_tag "WhatIHave.png" %>
    </td> 
    <td>
      What I have?<br />
      <select name="ihave">
        <option value="1">A Huge dresser</option>
      </select>
    </td>         
  </tr>
  <tr> 
     <td class="icon">
      <%= image_tag "offer.png" %>
    </td> 
    <td>
      What I offer?<br />
      <select name="offer">
        <option value="1">Split Gas</option>
      </select>
    </td>         
  </tr>
</table>