<!DOCTYPE html>
<html>
<head>
  <title>Highanddry</title>
  <%= stylesheet_link_tag    "application" %>
  <script src="http://localhost:9090/socket.io/socket.io.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
