<!DOCTYPE html>
<html>
<head>
  <title>Target RideShare</title>
  <%= stylesheet_link_tag    "application" %>
  <script src="http://localhost:9090/socket.io/socket.io.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>Target RideShare</header>
  <%= yield %>
</body>
</html>
